html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 14px;
}

.jackalope-logo {
    height: 256px;
}

.transforms-list {
    display: flex;
    overflow-x: auto;
}

.transform {
    flex-shrink: 0;
    height: 100px;
}

.process-job {
    padding-top: 14px;
    padding-bottom: 14px;
}

.pendingProcess {
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
}